name: Update markdown snippets

on:
  push:
  workflow_dispatch:

# Cancel existing executions when new commits are pushed onto the branch
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  update-markdown-snippets:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Run MarkdownSnippets
        run: ./run-md-snippets.sh
      - name: Git Commit and Push
        uses: github-actions-x/commit@v2.9
        with:
          commit-message: ". d updated markdown snippets"
          rebase: 'true'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          push-branch: 'main'
          name: github actions
          email: actions@github.com